OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
VOSK_MODEL_URL=https://alphacephei.com/vosk/models/vosk-model-small-it-0.22.zip
LANG=it_IT
# Simulazione
SIMULATION=keyboard
HEADLESS=1
SAMPLES_DIR=./raspberry/chatpi/samples
